/* Place CSS styles here */
img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 8px;
  }
}

header img {
    border-radius: 12px;
    max-width: 60px;
}

.logo {
    display: flex;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    background-color: #0034f0;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 12px;
    outline: 0;
}

nav a:hover {
    background-color: #051e79;
}

nav a:focus {
    box-shadow: 0px 0px 0px 4px #00c200;
}

h1 {
    color: #ffffff;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* make the layout page aware */
.blue-skewt-main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* needs to be put the the child you want to expand */
main {
    background-image: url(../img/creek.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex: 1;
}

.blue-skewt-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.blue-skewt-row {
    background-color: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    flex: 1;
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .blue-skewt-row {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }
}

footer {
    background: powderblue;
    padding: 20px;
    text-align: center;
}

/* Items page */
.blue-skewt-list-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .blue-skewt-list-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.blue-skewt-list-item {
    background-color: #ffffff;
}

/* Item page */
.blue-skewt-featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .blue-skewt-featured {
    grid-template-columns: 1fr;
  }
}

.blue-skewt-featured-image {
    max-width: 400px;
}

.blue-skewt-intro {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 100px;
}